- hosts: localhost
  become: true
  tasks:
  
  - name: Upgrade system
    apt:
      upgrade: dist
      update_cache: yes
      autoremove: yes
      
  - name: Install packages
    package:
      name:
        - adwaita-qt
        - adwaita-qt6
        - apostrophe
        - brasero
        - cpu-x
        - dialect
        - ffmpeg
        - filezilla
        - firefox-esr
        - flatpak
        - foliate
        - fonts-crosextra-caladea
        - fonts-crosextra-carlito
        - frogatto
        - gimp
        - gnome-core
        - gnome-games
        - gnome-mastermind
        - gnome-remote-desktop
        - gnome-shell-extension-caffeine        
        - gnome-software-plugin-flatpak
        - gnome-tweaks
        - grsync
        - htop
        - ibus-libpinyin
        - inkscape
        - lame
        - libreoffice
        - libreoffice-gnome
        - libreoffice-java-common
        - malcontent
        - openssh-server
        - pdfarranger
        - pipx
        - qgnomeplatform-qt5
        - qgnomeplatform-qt6
        - qt5-gtk-platformtheme
        - qt6-gtk-platformtheme   
        - remmina
        - supertux
        - supertuxkart
        - ttf-mscorefonts-installer
        - unattended-upgrades
        - webext-ublock-origin-firefox
      state: latest

  - name: Uninstall packages
    package:
      name:
        - cheese
        - freecad
        - gufw
        - lutris
        - prusa-slicer
        - rhythmbox
        - synaptic
        - transmission-gtk
      state: absent
    
  - name: Enable FlatHub
    flatpak_remote:
      name: flathub
      flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
      method: system
      state: present

  - name: Install flatpaks
    community.general.flatpak:
      name:
        - com.bitwarden.desktop
        - com.prusa3d.PrusaSlicer
        - com.valvesoftware.Steam
        - net.lutris.Lutris
        - org.freecad.FreeCAD
        - org.localsend.localsend_app
        - org.vinegarhq.Sober
        - org.zotero.Zotero
        - us.zoom.Zoom
      state: latest   
